@model IEnumerable<Common.Models.Categoria>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                <form data-ajax="true" data-ajax-method="post" asp-controller="Libros" asp-route-id="@item.Id"  asp-action="EliminarAsignarCategoriasLibro" data-ajax-update="#ListaCategoriasLibro"> 
                    <input type="submit" value="Eliminar" class="btn btn-danger"/>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
